th {
    text-transform:uppercase;
  }

  a {
    color: #01ff67;
  }

  .top {
    background-color:#ff6701;
  }

  em {
    color:#4f00fa;
  }

  #the_most_important {
    text-transform:uppercase;
    background-color:#fff200;

  }

  h2 {
    font-family: sans-serif;
  }

  h1,h2,h3 {
    text-transform:capitalize;
  }

  h2+p:first-letter {
    font-size:x-large;
  }

  tbody tr:hover, tbody tr:hover td{
    background-color:#c17e7e;
  }

  nav li {
    display:inline;
    margin-left: 8px;
  }

  nav ul li:first-child a{
    text-decoration:underline;
    color:#3e4749;
  }

  tbody tr:nth-child(odd){
    background-color: #879499;
  }

  ::selection {
    background-color: #8001ff;
  }

  a:hover {
    cursor:pointer;
  }

  input {
    height:20px;
  }

  input:not([type="text"]){
    border: 2px light gray;
  }

  input[name="message"]{
    height:50px;
  }